<html>
<head>
  <title>{{title}}::Trail of Clues</title>
  <link rel="stylesheet" type="text/css" href="/static/base.css" />
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
</head>
<body>
  <div id="header">
    <p>Trail of clues</p>
  </div>
  <div id="contents">
    {% include template %}
  </div>
  <div id="footer">
  </div>
</body>
</html>

